{% extends "header.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">

        {% for mesg in get_flashed_messages() %}
        <div class="alert-messages"><p>{{ mesg }}</p></div>
        {% endfor %}

        <h2 class="text-white mt-0" style="padding-top: 2rem; padding-bottom: 1rem;">Have an account?<br/>Log in here.</h2>
        <hr class="divider my-4" style="padding-bottom: 1.5rem;" />
        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('login', next='metbuilder') }}">
          <dl class="labels">
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
          </dl>
          <input class="btn btn-light btn-medium js-scroll-trigger" type=submit value="Log In">
        </form>
        <br/>
        <a href="{{  url_for('forgot_password') }}">Forgot your password?</a>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}